# Entornos virtuales
venv/
env/
__pycache__/

# Excluir la carpeta de fotos generadas dinámicamente
uploads/

# Excluir el modelo pesado de IA (lo descargaremos o manejaremos en la nube si es necesario)
*.onnx